// ----- FOR REFERENCE ONLY -----

// DJANGO SETTINGS
ALLOWED_HOSTS=
SECRET_KEY=

// DATABASES
NAME=
USER=
PASSWORD=
HOST=ec2-54-228-125-183.eu-west-1.compute.amazonaws.com
PORT=

// DJANGO-STORAGE
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION_NAME=eu-gb
AWS_STORAGE_BUCKET_NAME=boilerplate
